<nav class="navbar bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">
            se loco
        </a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">Categorias</a>
            </li>
        </ul>
    </div>
</nav>