<link rel="stylesheet" href="/css/styles.css">

<nav class="navbar navbar-expand-lg navbar-light text-white bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand fw-bold fs-1">
            DEV<span class="fw-light">blog</span>  
        </a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a href=""></a>
            </li>

            <% categories.forEach(category => { %>
                <li class="nav-item">
                    <a href="/category/<%= category.slug %>" class="nav-link">
                        <%= category.title %>
                    </a>
                </li>
            <% }) %> 
        </ul>
    </div>
</nav>