@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Manrope', sans-serif !important;
}
a{
    text-decoration: none !important;
}
a:hover{
    color: #fff !important;
}

:root{
    --primary: #59e3aa;
    --secondary: #f5f5f5;
    --dark-primary: #262626;
    --dark-secondary: #1b1b1b;
}

body{
    background-color: var(--dark-secondary);
}

.navbar .navbar-nav .nav-item a, .navbar-brand{
    color: var(--primary) !important;
}

.banner{
    text-align: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-primary);
    padding: 50px 0;
    color: #fff;
    height: 350px;
    margin-bottom: 50px;
}
.banner h1, h2{
    z-index: 1;
    width: 100%;
}
.banner img{
    position: absolute;
    object-fit: cover;
    inset: 0;
    filter: blur(5px);
    transform: scale(1.05);
}

.row{
    gap: 20px;
}

.article{
    background-color: var(--dark-primary);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    flex: 31%;
    box-shadow: 0 1px 10px 1px #1a1a1a;
    transition: 200ms;
}
.article:hover{
    transform: scale(1.03) translateY(-5px);
    box-shadow: 0 20px 30px 1px #1a1a1a;
}
.article p{
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 30px;
    background: #1a1a1a;
    width: fit-content;
    padding: 8px 17px;
    border-radius: 7px;
    font-size: 12px;
}
.article h3{
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}
.hand-background{
    position: fixed;
    width: 350px;
    top: 50%;
    right: -100px;
}

.article-details{
    margin-top: 80px;
}
.article-details h1{
    text-align: center;
    font-weight: 800;
    font-size: 46px;
    margin-bottom: 50px;
    color: #fff;
}
.article-details .article-header{
    margin-bottom: 80px;
}
.article-details .article-header p{
    color: var(--primary);
    background-color: var(--dark-primary);
    padding: 10px 20px;
    border-radius: 10px;
}
.article-details .article-body{
    color: #fff;
    line-height: 30px;
}