<%- include('../../partials/header.ejs')  %> 
<div class="col-md-4 mx-auto my-5">
    <h1 class="mb-5 pt-5">Login</h1>

    <form action="/authenticate" method="post">
        <label for="email">Email</label>
        <input 
            type="email"
            name="email"
            id="email"
            class="form-control mb-3"
            placeholder="Email do usuário">

        <label for="password">Senha</label>
        <input 
            type="password"
            name="password"
            id="password"
            class="form-control mb-3"
            placeholder="•••••••••">


        <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-lg btn-success px-5">Entrar</button>
        </div>
    </form>

</div>

<%- include('../../partials/footer.ejs')  %> 
